In [20]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],'Category':['A','B','C','A','B','c'],'value':np.random.randint(1,5,size=6),'score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)

 Original DataFrame:
       Name Category  value  score
0    Alice        A      2     90
1      Bob        B      3     78
2  Charlie        C      1     85
3    Alice        A      3     84
4      Bob        B      3     92
5  Charlie        c      4     82

In [21]:
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\n Group by Name and Aggregation with one column sum:\n",df1)

 Group by Name and Aggregation with one column sum:
       Name  value
0    Alice      5
1      Bob      6
2  Charlie      5

In [22]:
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum() 
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      5    174
1      Bob      6    170
2  Charlie      5    167

In [29]:
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum') 
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      5
1      Bob      6
2  Charlie      5

In [32]:
df4 = df.groupby('Name').agg({ 
'value': ['sum', 'mean', 'min', 'max'], 
'score': ['sum', 'mean']}) 
print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       5  2.5   2   3   174  87.0
Bob         6  3.0   3   3   170  85.0
Charlie     5  2.5   1   4   167  83.5

In [33]:
df5=df.groupby(('Name'),as_index=False)['value'].count()
print("\n group and count:\n",df5)

 group and count:
       Name  value
0    Alice      2
1      Bob      2
2  Charlie      2

In [34]:
df6=df.groupby(('Name')).count()
print("\n Group and count:\n",df6)

 Group and count:
          Category  value  score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [36]:
df7=df.groupby(('Name'),as_index=False)['value'].first()
print("\n group and display from first:\n",df7)

 group and display from first:
       Name  value
0    Alice      2
1      Bob      3
2  Charlie      1

In [37]:
df8=df.groupby(('Name')).first()
print("\n group and display from first:\n",df8)

 group and display from first:
         Category  value  score
Name
Alice          A      2     90
Bob            B      3     78
Charlie        C      1     85

In [39]:
df9=df.groupby(('Name'),as_index=False)['value'].last()
print("\n group and display from last:\n",df9)

 group and display from last:
       Name  value
0    Alice      3
1      Bob      3
2  Charlie      4

In [4]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],'Category':['A','B','C','A','B','c'],'value':np.random.randint(1,5,size=6),'score':np.random.randint(60,100,size=6)})
df10=df.groupby(('Name')).last()
print("\n group and display from last:\n",df10)

 group and display from last:
         Category  value  score
Name
Alice          A      3     86
Bob            B      1     80
Charlie        c      2     93

In [6]:
df11=df.groupby(('Name')).size()
print("\n group and display from size:\n",df11)

 group and display from size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64

In [7]:
df12=df.groupby(('Name'),as_index=False)['value'].size()
print("\n group and display from size:\n",df12)

 group and display from size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2